<h3>Market Buttons</h3>  
  <form method="markets" action="/" id="market-form">  
    <button class="market" id="2ml"><div class="market">Half-Time Moneyline</div></button>
    <button class="market" id="2ps"><div class="market">Half-Time Point Spread</div></button>
    <button class="market" id="2tot"><div class="market">Half-Time Total</div></button>
    <br>
    <button class="market" id="ml"><div class="market">Full-Time Moneyline</div></button>
    <button class="market" id="ps"><div class="market">Full-Time Point Spread</div></button>
    <button class="market" id="tot"><div class="market">Full-Time Total</div></button>
  </form>
  <br>
  
<h3>Arbitrage Calculator</h3>
  <form method="markets" action="/" id="calc-form">
    STAKE:
    <label><input id="fstake" name="fstake" type="number" placeholder="Favourite"/></label>
    <label><input id="ustake" name="ustake" type="number" placeholder="Underdog"/></label>
    <br>
    PROFIT:
    <label><input id="fprofit" name="fprofit" type="number" placeholder="Favorite"/></label>
    <label><input id="uprofit" name="uprofit" type="number" placeholder="Underdog"/></label>
  </form>