<h3>Market Buttons</h3>  
  <form method="markets" action="/">
    <input type="radio" name="buttonGroup" value="Half-Time Moneyline" id="2ml"><label for="2ml">Half-Time Moneyline</label>
    <input type="radio" name="buttonGroup" value="Half-Time Total" id="2tot"><label for="2tot">Half-Time Total</label>
    <input type="radio" name="buttonGroup" value="Half-Time Point Spread" id="2ps"><label for="2ps">Half-Time Point Spread</label>
    <input type="radio" name="buttonGroup" value="Full-Time Moneyline" id="ml"><label for="ml">Full-Time Moneyline</label>
    <input type="radio" name="buttonGroup" value="Full-Time Total" id="tot"><label for="tot">Full-Time Total</label>
    <input type="radio" name="buttonGroup" value="Full-Time Point Spread" id="ps"><label for="ps">Full-Time Point Spread</label>
  </form>

